.login-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container form{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.login-container form input{
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.login-container form input::placeholder{
    color: #999;
}

.login-container form button{
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: #DF4723;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.5 all;
}

.login-container form button:hover{
    background: rgba(223, 71, 35, 0.8);
}

.login-container form img.loading{
    width: 50px;
    align-self: center;
}